.tasksInput {
    flex-direction: column;
}

.tasksInput > *{
    margin: 3px 0;
} 

/* task entry component */
.tasksInput--entry {
    border-radius: 10px;
    background-color: var(--grey);
    box-shadow: var(--raw-shadow);
    position: relative;
}

.tasksInput--entry .input-box, input {
    border-radius: 10px;
    color: var(--dark-text);
    background-color: #e5e5e5;
    font-family: inherit;
    height: 30px;
    padding: 3px 50px 3px 10px;
    border: none;
    outline: 0px solid var(--main-color);
}

.tasksInput--entry.hcc > .icon {
    color: var(--secondary-color);   
}

.tasksInput--entry.hcc .icon:hover {
    transition: 300ms;
    background-color: var(--secondary-color);
    color: var(--light-text);
}

.input-box:focus-visible, textarea.icon.task--text{
    transition: all 300ms ease-in-out 600ms;
    outline: 2px solid var(--main-color);
}
.input-box:focus-visible {
    height: 50px;
}

.inside-textbox {
    position: absolute;
    right: 20px;
    color: var(--secondary-color);
}

.tasksInput--options.hcc {
    padding: 0 3px;
    width: calc(var(--app-width)*0.8);
}

.tasksInput--options.hcc > .icon > * {
    margin: 0 5px;
}
